# File Prasyarat
*.d

# File Objek Terkompilasi
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# File Linker
*.ilk

# File Debugger
*.pdb
*.dwo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# --- File Spesifik CodeBlocks ---
# Direktori hasil kompilasi
bin/
obj/

# File proyek CodeBlocks
*.cbp
